.p-relative {
    position: relative;
}
.form-input-group {
    display: flex;
    align-items: center;
    padding: 0;
    background: rgb(243, 239, 239);
    border: 1px solid #ddd;
    border-radius: 20px;
}
.form-input-group .input-append {
    text-align: center;
    padding: 6px 9px 6px 12px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.form-input-group .form-input {
    border: none;
    padding: 7px 10px;
    width: 100%;
    /* font-size: 17px; */
    background: inherit;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.abs-btn {
    border: 1px solid #eee;
    padding: 7px 13px;
    border-radius: 7px;
    background: transparent;
}
.abs-btn.round {
    border-radius: 20px;
}
.preloader {
    position: fixed;
    top: 0%;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    z-index: 200;
}
.table-wrap {
    width: 100%;
    white-space: nowrap;
    overflow: auto;
}
.error {
    display: block;
    color: red;
}
